[submodule "themes/cactus"]
	path = themes/cactus
	url = https://github.com/omer-demir/hugo-theme-cactus-plus.git
[submodule "themes/hugo-nuo"]
	path = themes/hugo-nuo
	url = git@github.com:omer-demir/hugo-nuo.git
[submodule "themes/ghostwriter"]
	path = themes/ghostwriter
	url = git@github.com:omer-demir/ghostwriter.git
